<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Form | Estate Marketplace</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="login-background">
    <div class="login-wrapper">
      <form action="index.html">
        <h1 style="color: #fff">REGISTER</h1>
        <div class="input-box">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
          />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            id="confirmPassword"
            placeholder="Confirm Password"
            required
          />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <button type="button" id="registerBtn" class="btn">Register</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#registerBtn").click(function (e) {
          e.preventDefault();

          var username = $("#username").val();
          var email = $("#email").val();
          var password = $("#password").val();
          var confirmPassword = $("#confirmPassword").val();

          if (password !== confirmPassword) {
            alert("Passwords do not match.");
            return;
          }

          var formData = {
            username: username,
            email: email,
            password: password,
          };

          $.ajax({
            url: "http://localhost/Web-Project-2024/backend/users/",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(formData),
            success: function (response) {
              console.log(response);
              alert("User registered successfully!");
              window.location.href = "#login";
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>
